# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Saras\Desktop\stud\3KURSAS\5semestras\Programu Sistemu projektavimas(kurs)\typeracer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
